*.suo
*.sdf
*.user
*.exe
*.dll
*.lib
*.ilk
*.pdb
*.opensdf
/Debug
/Release
/ipch
/HWClient/Debug
/HWServer/Debug
/HWLib/Debug
/HWClient/Release
/HWServer/Release
/HWLib/Release
/HWClient/x64
/HWServer/x64
/HWLib/x64
/x64
